<%= form_for @cd, :html => {:multipart => true, :class => 'form'} do |f| %>
  <% if @cd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cd.errors.count, "error") %> prohibited this cd from being saved:</h2>

      <ul>
      <% @cd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form role="form">
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control", :placeholder => "What are you looking forward to?" %>
  </div>

  <div class="form-group">
    <%= f.label :link %><br/>
    <%= f.text_field :link, :class => "form-control", :placeholder => "Link to more information goes here!" %>
  </div>

  <div class="form-group">
    <%= f.label :time %><br/>
    <%= f.datetime_select :time, order: [:day, :month, :year], :minute_step => 5, :class => 'dropdown-menu' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit 'Start counting', :class => 'btn btn-success btn-lg col-md-12' %>
  </form>
<% end %>
