<!DOCTYPE html>
<html>
<head>
  <title><%= yield :pagetitle %></title>

  <meta property="og:title" content="<%= yield :pagetitle %>">
  <meta property="og:type" content="activity">
  <meta property="og:url" content="<%= yield :url %>">
  <meta property="og:image" content="<%= yield :image_url %>">
  <meta property="og:site_name" content="Vorfreude">
  <meta property="og:description" content="I'm looking forward to <%= yield :title %> - let's share the Vorfreude. And see you there.">

  <link rel="stylesheet" href="https://assets-mkotsch.s3.amazonaws.com/vorfreude/css/bootstrap-theme.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="https://assets-mkotsch.s3.amazonaws.com/vorfreude/css/bootstrap.min.css" type="text/css" media="screen">
  <link rel="stylesheet" href="https://assets-mkotsch.s3.amazonaws.com/vorfreude/css/cover.css" type="text/css" media="screen">
  <link rel="stylesheet" href="https://assets-mkotsch.s3.amazonaws.com/vorfreude/css/ss-social-regular.css" type="text/css" media="screen">

  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/jquery.min.js" type="text/javascript"></script>
  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/jquery.timer.js" type="text/javascript"></script>
  <script src="https://assets-mkotsch.s3.amazonaws.com/vorfreude/js/docs.min.js" type="text/javascript"></script>

  <%= yield :image %>

</head>

<body style="">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Vorfreude</h3>
              <ul class="nav masthead-nav">
                <li><%= link_to 'Share your Vorfreude', new_cd_path %></li>
                <li><%= link_to 'Trending', p_trending_path %></li>
              </ul>
            </div>
          </div>

          <div class="inner cover" id="countdown">
            <h1 class="cover-heading" id="title" style="padding-top:150px; display:none"><%= yield :title %><%= yield :link %></h1>

            <div class="progress" style="height: 5px; display:none" id="bar">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only"></span>
              </div>
            </div>

            <h2 class="count" id="time" style="display:none"><%= yield :time %></h2>
          </div>

          <div class="mastfoot">
            <div id="share">
              <a class="social" href="https://www.facebook.com/sharer/sharer.php?u=<%= yield :url %>"><i class="ss-icon ss-facebook"></i></a>
              <a class="social" href="http://twitter.com/home?status=I'm looking forward to '<%= yield :title %>' <%= yield :url %> #vorfreude"><i class="ss-icon ss-twitter"></i></a>
              <a class="social" href="https://plus.google.com/share?url=<%= yield :url %>"><i class="ss-icon ss-googleplus"></i></a>
            </div>

            <div class="inner">
              <p>Made with excitement by <a href="https://twitter.com/mikekotsch">@mikekotsch</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</html>
